body {
    line-height: 2;
}

ol, ul {
    list-style: none;
}

li:hover {
    background-color: #3498db;
}

a{
    text-decoration: none;
    color: black;
}

.header{
    width: 100%;
    background-color: #3498db;;
}

.fl_left {
    float: left;
}

.fl_right {
    float: right;
}

.main_wrapper {
    width: 1280px;
    margin: auto;
}

.left_column {
    width: 300px;
    float: left;
}

.right_column {
    float: left;
    width: 970px;
}

.categories {
    height: 500px;
}

.title {
    margin-left: 50px;
}

.horizontal li {
    display: inline;
}

.app_title {
    font-size: xx-large;
}

.category_app_list {
}

.category_app_list a {
    display: inline-block;
    margin-bottom: 15px;
}

.app_title_list {
}

.icon {
    width: 300px;
}

.small_icon {
    width: 128px;
    height: 128px;
    border-radius: 50%;
}

.icon_list {
}

.categories_list {
    padding: 15px;
}

.category_title {
    font-size: x-large;
    font-weight: bold;
}

.list_item {
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

.app_desc {
    font-size: large;
}

.download_btn {
    background-color: green;
    float: right;
    color: white;
    border-radius: 20%;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    font-size: x-large;
    margin-top: 30px;
    text-align: center;
}

.upload_form{
    background-color: #3498db;
    opacity: 0.5;
}

.app_pagination{
    margin-left: 20px;
    color: #3498db;
}

.button{
    background-color: #3498db;
    border: none;
    height: 32px;
    display: inline-block;
}

.button:hover{
    background-color: aliceblue;
}

.button.upload{
    color: white;
    font-size: x-large;
    margin-right: 50px;
}

.login{
    display: inline;
}

.registrate{
    display: inline;
}