<div xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="app" type="com.dataart.test.spring.model.App"*/-->
    <h2 th:text="${app.getPack() + '.' + app.getName()}">Pokemon Go!</h2>
    <div class="fl_left">
        <img class="icon" th:src="${app.getBigPicture() != null ? '/image/' +
                          app.getBigPicture().getId() : '/css/img/def_pic.jpg'}"/>
    </div>
    <div class="right_column">
        <span class="app_desc" th:text="${'Downloads: ' + app.getDownloads()}">Downloads</span>
        <br/>
        <span class="app_desc" th:text="${app.getDescription()}">Description
        </span>
    </div>
    <a th:href="@{'/app/download/' + ${app.getId()}}" class="download_btn" download="download">Download</a>
</div>