<div class="left_column" xmlns:th="http://www.thymeleaf.org">
    <section class="categories">
        <ul>
            <!--/*@thymesVar id="categories" type="java.util.List<com.dataart.test.spring.model.Category>"*/-->
            <!--/*@thymesVar id="category" type="com.dataart.test.spring.model.Category"*/-->
            <li class="categories_list" th:each="category : ${categories}">
                <a data-pjax="#pjaxcontainer" th:href="@{'/category/' + ${category.getId()}}">
                    <span class="category_title" th:text="${category.getName()}">Category</span>
                </a>
            </li>
        </ul>
    </section>
</div>
<div class="right_column" xmlns:th="http://www.thymeleaf.org">
    <!--/*@thymesVar id="pages" type="java.lang.Integer"*/-->
    <a data-pjax="#pjaxcontainer" class="app_pagination" th:each="page, status : ${pages}"
       th:href="${'?page=' + status.count}" th:text="${status.count}"></a>
    <ul class="category_app_list">
        <!--/*@thymesVar id="apps" type="java.util.List<com.dataart.test.spring.model.App>"*/-->
        <!--/*@thymesVar id="app" type="com.dataart.test.spring.model.App"*/-->
        <li class="list_item" th:each="app : ${apps}">
            <a data-pjax="#pjaxcontainer" th:href="@{'/app/' + ${app.getId()}}">
                <div class="fl_left">
                    <img class="small_icon" th:src="${app.getSmallPicture() != null ? '/image/' +
                          app.getSmallPicture().getId() : '/css/img/def_pic.jpg'}"/>
                </div>
                <div class="fl_left title">
                    <span class="app_title" th:text="${app.getName()}">Pokemon Go!</span>
                </div>
            </a>
        </li>
    </ul>
</div>