<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<header class="header">
    <a class="button" href="/">Mobile App Shop</a>
    <div th:if="${#authorization.expression('isAuthenticated()')}" style="display: inline;">
        <button class="button fl_right" onclick="logout();">Sign Out</button>
        <span class="fl_right"
              th:text="${'Hi, ' + #authentication.getPrincipal().getFirstName() + '!'}">Hi, username!
        </span>
    </div>
    <button th:if="${#authorization.expression('hasRole(''ROLE_DEVELOPER'')')}"
            class="button upload fl_right" id="upload_btn">Upload app
    </button>
    <button th:if="${#authorization.expression('isAnonymous()')}" class="button fl_right" id="login_btn">Sign In
    </button>
</header>
<div id="login_form">
    <h2>I already have an account</h2>
    <form action="/login" method="post" class="login">
        <input name="username" type="email" placeholder="Email"/>
        <input name="password" type="password" placeholder="Password"/>
        <br/>
        <input type="submit" class="button" id="login" value="Log In"/>
    </form>
    <h2>I wanna have a new account</h2>
    <div class="registrate">
        <input type="text" placeholder="First name" id="first_name"/>
        <input type="text" placeholder="Last name" id="last_name"/>
        <input type="email" placeholder="Email" id="email"/><span id="error" style="display: none; color: red"></span>
        <input type="password" placeholder="Password" id="password"/>
        <br/>
        <label>is a developer
            <input id="is_dev" type="checkbox"/>
        </label>
        <br/>
        <button onclick="registrate();" class="button">Registrate</button>
    </div>
</div>
</body>
</html>