<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/slick.css}" rel="stylesheet"/>
    <link th:href="@{/css/jquery-ui.css}" rel="stylesheet"/>
    <link th:href="@{/css/slick-theme.css}" rel="stylesheet"/>
    <script th:src="@{/js/jquery-2.2.3.min.js}"></script>
    <script th:src="@{/js/jquery-ui.min.js}"></script>
    <script th:src="@{/js/jquery.pjax.js}"></script>
    <script th:src="@{/js/slick.min.js}"></script>
    <script th:src="@{/js/common.js}"></script>
    <meta charset="UTF-8"/>
    <title>Mobile Apps Shop</title>
</head>
<body>
<div th:include="header"></div>
<div class="main_wrapper">
    <div class="popular_wrapper">
        <h2>Most Popular</h2>
        <div class="popular">
            <!--/*@thymesVar id="popApps" type="java.util.List<com.dataart.test.spring.model.App>"*/-->
            <!--/*@thymesVar id="popApp" type="com.dataart.test.spring.model.App"*/-->
            <a data-pjax="#pjaxcontainer" th:each="popApp : ${popApps}" th:href="@{'/app/' + ${popApp.getId()}}">
                <div><img th:title="${popApp.getName()}" class="icon"
                          th:src="${popApp.getSmallPicture() != null ? '/image/' +
                          popApp.getSmallPicture().getId() : '/css/img/def_pic.jpg'}"/></div>
            </a>
        </div>
    </div>

    <!--/*@thymesVar id="content" type="java.lang.String"*/-->
    <div id="pjaxcontainer" th:include="${content}"></div>

</div>
<form method="post" action="javascript:void(0)" enctype="multipart/form-data" id="upload_form">
    <input id="new_app_name" type="text" placeholder="Enter app name"/>
    <textarea id="new_app_desc" cols="40" rows="5" placeholder="Enter app description"></textarea>
    <br/>
    <!--/*@thymesVar id="categories" type="java.util.List<com.dataart.test.spring.model.Category>"*/-->
    <!--/*@thymesVar id="category" type="com.dataart.test.spring.model.Category"*/-->
    <label>
        Select category
        <select id="new_app_category">
            <option th:each="category : ${categories}" th:value="${category.getId()}" th:text="${category.getName()}">
            </option>
        </select>
    </label>
    <input name="file" value="Choose app" type="file"/>
</form>
</body>
</html>